.back-image-page {
    position: relative;

    h3 {
        font-family: 'Montserrat';
        font-weight: 300;
        font-style: normal;
        font-size: 40px;
        color: #FFF;
        position: absolute;
        bottom: 20px;
        left: 85px;
    }
}

section{
    &#page-contact{
        float: left;
        width: 100%;
        padding-top: 90px;
        padding-bottom: 90px;

        @media (min-width: 768px) {
            height: auto;
        }

        #contact-form{
            h6{
                font-size: 26px;
                font-weight: 300;
                margin-bottom: 30px;
    
                @media (max-width: 992px) and (min-width: 768px) {
                    font-size: 22px;
                } 
            }

            @media (min-width: 768px) {
                padding-right: 80px;
            }

            @media (max-width: 992px) and (min-width: 768px) {
                padding-right: 60px;
            }

            form{

                @media (max-width: 767px) {
                    margin-bottom: 30px;
                }

                input{
                    &.input-contact{
                        font-family: $ff-main;
                        font-weight: 300;
                        width: 100%;
                        height: 55px;
                        background-color: #f5f5f5;
                        border: none;
                        border-radius: 5px;
                        padding: 8px 20px;
                        transition-duration: .2s;
        
                        &:focus{
                            outline: none;
                            border-color: #888888;
                            box-shadow: 0 0 0 1.5px #62e0e9;
                            background-color: #ffffff;
                            transition-duration: .2s;
                        }
                    }
                }

                textarea {
                    font-family: "roboto";
                    font-weight: 300;
                    width: 100%;
                    height: 125px;
                    background-color: #f5f5f5;
                    border: none;
                    border-radius: 5px;
                    padding: 8px 20px;
                    transition-duration: .2s;

                    &:focus{
                        outline: none;
                        border-color: #888888;
                        box-shadow: 0 0 0 1.5px #62e0e9;
                        background-color: #ffffff;
                        transition-duration: .2s;
                    }
                }

                input[type="submit"]{
                    font-family: $ff-main;
                    font-size: 18px;
                    font-weight: 500;
                    width: 100px;
                    height: 52px;
                    color: #ffffff;
                    background-color: #62e0e9;
                    border: none;
                    border-radius: 5px;
                    letter-spacing: 1px;

                    &:hover{
                        background-color: #54c8d1;
                    }
    
                    &:focus{
                        outline: none;
                        background-color: #62e0e9;
                    }

                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
        }

        #contact-contact{
            @media (min-width: 768px) {
                padding-left: 80px;
                border-left: 1px solid #cdcdcd;
            }

            @media (max-width: 992px) and (min-width: 768px) {
                padding-left: 60px;
            }

            h6{
                font-size: 26px;
                font-weight: 300;

                @media (max-width: 992px) and (min-width: 768px) {
                    font-size: 22px;
                }

                @media (max-width: 767px) {
                    font-size: 24px;
                }
            }

            p{
                font-size: 32px;
                font-weight: 400;
                color: #5dc7ce;
                padding-bottom: 20px;
                border-bottom: 1px solid #cdcdcd;

                @media (max-width: 992px) and (min-width: 768px) {
                    font-size: 24px;
                }

                @media (max-width: 767px) {
                    font-size: 26px;
                }
            }

            a{
                float: left;
                margin-top: 10px;

                i{
                    font-size: 35px;
                }
            }
        }
    }
}