section{
    &#page-messages{
        float: left;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 115px;

        @media (max-width: 992px) and (min-width: 769px) {
            padding-top: 55px;
        }

        @media (max-width: 768px) {
            padding-top: 50px;
        }

        #title-messages{
            @media (min-width: 992px) {
                height: auto;
                padding-bottom: 60px;
            }

            @media (max-width: 991px) and (min-width: 577px) {
                height: auto;
                padding-bottom: 32px;
            }

            @media (max-width: 576px) {
                height: auto;
                padding-bottom: 25px;
            }

            h6{
                text-align: center;
                font-size: 48px;
                font-weight: 300;
                letter-spacing: 2px;
            }
        }

        #messages{
            ul{
                list-style: none;
                padding: 0;

                li{
                    &.message-post{
                        margin: 10px;
                        padding: 15px;
                        transition-duration: .3s;

                        @media (max-width: 991px) {
                            box-shadow: 0px 0px 10px #cdcdcd;
                        }

                        @media (min-width: 992px) {
                            &:hover{
                                box-shadow: 0px 0px 10px #cdcdcd;
                            }
                        }

                        .message-img{
                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
    
                        .message-content{
                            time{
                                float: left;
                                width: 100%;
                                font-size: 15px;
                                margin-top: 5px;
                            }

                            span{
                                font-size: 30px;
                                text-align: left;
                            }
                            
                            p{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}