section{
    &#page-messages{
        float: left;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 115px;

        @media (max-width: 992px) and (min-width: 769px) {
            padding-top: 55px;
        }

        @media (max-width: 768px) {
            padding-top: 50px;
        }

        #title-messages{
            @media (min-width: 992px) {
                height: auto;
                padding-bottom: 60px;
            }

            @media (max-width: 991px) and (min-width: 577px) {
                height: auto;
                padding-bottom: 32px;
            }

            @media (max-width: 576px) {
                height: auto;
                padding-bottom: 25px;
            }

            h6{
                text-align: center;
                font-size: 48px;
                font-weight: 300;
                letter-spacing: 2px;
            }
        }

        #messages{
            ul{
                list-style: none;
                padding: 0;

                li{
                    &.message-post{
                        margin: 20px;
                        padding: 20px 10px;
                        transition-duration: .3s;

                        @media (min-width: 1200px) {
                            min-height: 470px;
                            max-height: 525px;
                        }

                        @media (max-width: 1199px) and (min-width: 992px) {
                            min-height: 485px;
                            max-height: 520px;
                        }

                        @media (max-width: 991px) and (min-width: 769px) {
                            min-height: 490px;
                            max-height: 555px;
                        }

                        @media (max-width: 768px) and (min-width: 577px) {
                            min-height: 465px;
                            max-height: 600px;
                        }
                        
                        @media (max-width: 576px) and (min-width: 501px) {
                            min-height: 460px;
                            max-height: 550px;
                        }

                        @media (max-width: 500px) and (min-width: 401px) {
                            min-height: 450px;
                            max-height: 550px;
                        }

                        @media (max-width: 400px) and (min-width: 300px) {
                            min-height: 415px;
                            max-height: 550px;
                        }
                         

                        @media (max-width: 991px) {
                            box-shadow: 0px 0px 10px #cdcdcd;
                        }

                        @media (min-width: 992px) {
                            &:hover{
                                box-shadow: 0px 0px 10px #cdcdcd;
                            }
                        }

                        @media (max-width: 577px) {
                            margin: 8px;
                            box-shadow: 0px 0px 7px #cdcdcd;
                        }

                        .message-img{
                            display: flex;
                            align-items: start;

                            @media (min-width: 1200px) {
                                min-height: 217px;
                                max-height: 225px;
                            }

                            @media (max-width: 1199px) and (min-width: 992px) {
                                min-height: 165px;
                                max-height: 165px;
                            }

                            @media (max-width: 991px) and (min-width: 871px) {
                                min-height: 220px;
                                max-height: 220px;
                            }

                            @media (max-width: 870px) and (min-width: 769px) {
                                min-height: 207px;
                                max-height: 207px;
                            }

                            img{
                                width: 95%;
                                height: auto;
                                margin: 0 auto;
                            }
                        }
    
                        .message-content{
                            padding: 10px;

                            #msgmsg {
                                time{
                                    float: left;
                                    width: 100%;
                                    font-size: 15px;
                                    margin-top: 5px;
                                }

                                span{
                                    font-size: 30px;
                                    text-align: left;

                                    @media (max-width: 991px) and (min-width: 768px) {
                                        font-size: 28px;
                                    }

                                    @media (max-width: 769px) {
                                        font-size: 26px;
                                    }
                                }
                                
                                p{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}