section{
    &#schedules-events{

        #invite-schedules-events{
            
            @media (min-width: 992px) {
                height: 250px;
                padding-top: 70px;
                padding-bottom: 70px;
            }

            h6{
                text-align: center;
                font-size: 48px;
                font-weight: 300;
                letter-spacing: 1px;
            }
        }

        #schedules{

            #all-schedules{
                padding: 0;

                li{
                    &.li-one-schedule{
                        list-style: none;
                        float: left;
                        width: 33.3%;

                        ul{
                            &.ul-one-schedule{
                                padding: 0;

                                li{
                                    list-style: none;
                                    background-size: cover;
                                    float: left;
                                    width: 100%;
                                    height: 250px;
                                    margin-bottom: 10px;

                                    &#cult{
                                        background-image: url(../img/main-img/oracao.jpg);
                                    }

                                    &#communion{
                                        background-image: url(../img/main-img/comunhao.jpg);
                                    }

                                    &#pray{
                                        background-image: url(../img/main-img/oracao.jpg);
                                    }

                                    &#project{
                                        background-image: url(../img/main-img/projeto.jpg);
                                        background-position: 0px 270px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}