section{
    &#main-schedules{
        float: left;
        width: 100%;
        padding-top: 80px;

        #title-schedules{
            @media (min-width: 992px) {
                height: auto;
                padding-bottom: 70px;
            }

            h6{
                text-align: center;
                font-size: 48px;
                font-weight: 300;
                letter-spacing: 2px;
            }
        }

        #schedules{
            float: left;
            width: 100%;

            ul{
                list-style: none;
                float: left;
                width: 100%;
                padding: 0;

                li{
                    &#first-three-schedules{
                        float: left;
                        width: 100%;

                        ul{
                            list-style: none;

                            li{
                                &.li-one-schedule{
                                    position: relative;
                                    list-style: none;
                                    float: left;
                                    height: auto;
                                    margin: 10px 15px;

                                    &:before{
                                        background-color: rgba(12, 20, 20, 0.4);
                                        content: '';
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                    }
            
                                    img{
                                        float: left;
                                        width: 100%;
                                        height: auto;
                                        margin-right: 5%;
                                    }
            
                                    span{
                                        position: absolute;
                                        top: 5px;
                                        left: 15px;
                                        font-size: 32px;
                                        font-weight: 300;
                                        color: #ffffff;
                                        float: left;
                                        width: 100%;
                                        padding: 15px;
                                    }
            
                                    p{
                                        position: absolute;
                                        top: 60px;
                                        left: 15px;
                                        font-size: 25px;
                                        font-weight: 300;
                                        color: #ffffff;
                                        float: left;
                                        width: 100%;
                                        padding: 15px;
                                        letter-spacing: 1px;
                                    }
                                }

                                &#cult{
                                    width: 58%;

                                    img{
                                        object-fit: cover;
                                        object-position: center;
                                        width: 100%;
                                        height: 480px;
                                    }

                                    span{
                                        font-size: 40px;
                                    }

                                    p{
                                        font-size: 30px;
                                    }
                                }

                                &#communion, &#pray{
                                    width: 37%;

                                    img{
                                        object-fit: cover;
                                        object-position: center;
                                        width: 100%;
                                        height: 230px;
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }

                    &#second-three-schedules{
                        float: left;
                        width: 100%;

                        ul{
                            li{
                                &.li-one-schedule{
                                    position: relative;
                                    list-style: none;
                                    float: left;
                                    height: auto;
                                    margin: 10px 15px;

                                    &:before{
                                        background-color: rgba(12, 20, 20, 0.4);
                                        content: '';
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                    }
            
                                    img{
                                        float: left;
                                        width: 100%;
                                        height: auto;
                                        margin-right: 5%;
                                    }
            
                                    span{
                                        position: absolute;
                                        top: 5px;
                                        left: 15px;
                                        font-size: 32px;
                                        font-weight: 300;
                                        color: #ffffff;
                                        float: left;
                                        width: 100%;
                                        padding: 15px;
                                    }
            
                                    p{
                                        position: absolute;
                                        top: 60px;
                                        left: 15px;
                                        font-size: 25px;
                                        font-weight: 300;
                                        color: #ffffff;
                                        float: left;
                                        width: 100%;
                                        padding: 15px;
                                    }
                                }

                                &#project{
                                    width: 58%;

                                    img{
                                        object-fit: cover;
                                        object-position: center;
                                        width: 100%;
                                        height: 480px;
                                    }

                                    span{
                                        font-size: 40px;
                                    }

                                    p{
                                        font-size: 30px;
                                    }
                                }

                                &#young, &#school{
                                    width: 37%;

                                    img{
                                        object-fit: cover;
                                        object-position: center;
                                        width: 100%;
                                        height: 230px;
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

section{
    &#main-events{
        float: left;
        width: 100%;
        padding-top: 65px;
        padding-bottom: 115px;

        #title-events{
            @media (min-width: 992px) {
                height: auto;
                padding-bottom: 80px;
            }

            h6{
                text-align: center;
                font-size: 48px;
                font-weight: 300;
                letter-spacing: 2px;
            }
        }

        #events{
            float: left;
            width: 100%;

            ul{
                list-style: none;
                float: left;
                width: 100%;
                padding: 0;

                li{
                    &.event-post{
                        position: relative;
                        list-style: none;
                        float: left;
                        width: auto;
                        height: auto;
                        margin: 0 15px;

                        &.event-post-before{
                            &:before{
                                background-color: rgba(12, 20, 20, 0.50);
                                content: '';
                                display: block;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                left: 0;
                                top: 0;
                            }
                        }

                        .open-content-event{
                            position: absolute;
                            bottom: 15px;

                            i{
                                font-size: 25px;
                                transform: rotate(270deg);
                            }
                        }

                        .close-content-event{
                            display: none;
                            position: absolute;
                            bottom: 15px;
                            color: #eeeeee;

                            i{
                                font-size: 25px;
                            }
                        }

                        .event-content{
                            visibility: hidden;
                            position: absolute;
                            left: 17px;
                            width: 360px;
                            top: 420px;
                            height: auto;
                            padding: 25px 30px;
                            text-align: left;
                            background-color: #ffffff;
                            transition-duration: .6s;                           
                        }
                    }

                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}