// *************** ROBOTO ***************
@font-face{
	font-family: 'roboto';
	src: url('../fonts/Roboto/Roboto-Thin.ttf');
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: 'roboto';
	src: url('../fonts/Roboto/Roboto-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'roboto';
	src: url('../fonts/Roboto/Roboto-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'roboto';
	src: url('../fonts/Roboto/Roboto-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family: 'roboto';
	src: url('../fonts/Roboto/Roboto-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face{
	font-family: 'roboto';
	src: url('../fonts/Roboto/Roboto-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

// *************** Montserrat ***************
@font-face{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Thin.ttf');
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

// *************** Hind Vandodara ***************
@font-face{
	font-family: 'Hind-vadodara';
	src: url('../fonts/Hind_Vadodara/HindVadodara-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'Hind-vadodara';
	src: url('../fonts/Hind_Vadodara/HindVadodara-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'Hind-vadodara';
	src: url('../fonts/Hind_Vadodara/HindVadodara-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face{
	font-family: 'Hind-vadodara';
	src: url('../fonts/Hind_Vadodara/HindVadodara-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: 'Hind-vadodara';
	src: url('../fonts/Hind_Vadodara/HindVadodara-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

// *************** Nunito ***************
@font-face{
	font-family: 'Nunito';
	src: url('../fonts/Nunito/Nunito-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'Nunito';
	src: url('../fonts/Nunito/Nunito-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}