section{
	&#content-1{
		height: auto;
		padding: 110px 0;
		background-color: #ffffff;

		@media (max-width: 991px) and (min-width: 769px) {
			height: auto;
			padding: 78px 0;
		}

		@media (max-width: 768px) {
			padding: 60px 0;
			height: auto;
		}

		h4{
			font-family: $ff-hind;
			font-size: 36px;
			font-weight: 300;
			margin-bottom: 40px;

			@media (max-width: 768px) {
				font-size: 32px;
			}
		}

		p{
			text-align: center;
			width: 715px;
			margin: 0 auto;
			font-family: $ff-main;
			font-size: 20px;
			font-weight: 300;
			line-height: 32px;
			color: #7e7e7e;

			@media (max-width: 768px) {
				width: auto;
			}
		}

		&.show{

			@media (min-width: 992px) {
				opacity: 0;
			}
		}
	}
}