section{
	&#content-3{
		height: auto;
		padding: 110px 0;
		background-color: #ffffff;

		@media (max-width: 991px) and (min-width: 768px) {
			height: 350px;
			padding: 70px 0;
		}

		@media (max-width: 767px) {
			padding: 60px 0;
			height: auto;
		}

		#first-content-3{
			width: auto;
			left: 0;
			top: 0;
			padding: 0;

			img{
				width: 585px;
				height: auto;

				@media (max-width: 1199px) and (min-width: 992px) {
					width: 465px;
				}
			}
		}

		#second-content-3{
			margin-top: 55px;

			@media (max-width: 1199px) and (min-width: 992px) {
				margin-top: 30px;
			}

			@media (max-width: 991px) {
				margin-top: 0;
			}

			h4{
				font-family: $ff-hind;
				font-size: 36px;
				font-weight: 300;
				margin-bottom: 45px;

				@media (min-width: 992px) {
					text-align: left;
				}

				@media (max-width: 991px) {
					text-align: center;
				}

				@media (max-width: 768px) {
					font-size: 32px;
				}
			}

			p{
				text-align: left;
				font-family: $ff-main;
				font-size: 20px;
				font-weight: 300;
				line-height: 32px;
				color: #7e7e7e;

				@media (max-width: 768px) {
					text-align: justify;
					font-size: 18px;
				}
			}
		}

		&.show{
			opacity: 0;
		}
	}
}