#content-4{
	position: relative;
	float: left;
	width: 100%;

	span{
		&#img-eventos{
			position: relative;
			float: left;
			width: 100%;
			height: 440px;

			&#img-eventos{
				background-image: url("../img/eventos/evento-77.jpg");
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}

			&:before{
				background-color: rgba(37, 37, 37, 0.55);
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				transition-duration: .3s
			}
		}

		&#contact-message{
			    position: absolute;
			    left: 10%;
			    top: 145px;
			    width: 80%;
			    text-align: center;
				color: #ffffff;
				
				@media (max-width: 710px) and (min-width: 591px) {
					top: 130px;
				}

				@media (max-width: 590px) {
					top: 105px;
				}

			h6{
				font-family: $ff-main;
				font-size: 50px;
				font-weight: 300;
				margin-bottom: 30px;

				@media (max-width: 830px) and (min-width: 711px) {
					font-size: 42px;
					font-weight: 400;
				}

				@media (max-width: 710px) {
					font-size: 35px;
					font-weight: 400;
				}
			}

			p{
				font-family: $ff-main;
				font-size: 22px;
				margin-bottom: 35px;

				@media (max-width: 710px) {
					font-size: 20px;
				}
			}

			a{
				font-family: $ff-main;
				font-size: 22px;
				font-weight: 300;
				border: 1.5px solid #ffffff;
				border-radius: 8px;
				padding: 7px 25px;
				color: #ffffff;
				transition-duration: .2s;

				&:hover{
					text-decoration: none;
					background-color: #ffffff;
					color: #5e5e5e;
					transition-duration: .2s;
				}
			}
		}
	}
}