section{
	&#content-contact{
		float: left;
		width: 100%;
		margin: 100px 0;

		h6{
			font-family: $ff-main;
			font-size: 24px;
			font-weight: 300;
			width: 100%;
			text-align: center;
			margin-bottom: 30px;
		}

		form{
			margin: 0 auto;

			label{
				margin-right: 10px;
				margin-bottom: 0;
			}

			input{
				font-family: $ff-main;
				font-weight: 300;
				width: 320px;
				height: 52px;
				background-color: #f5f5f5;
				border: none;
				border-radius: 5px;
				padding: 8px 20px;
				transition-duration: .2s;

				&:focus{
					outline: none;
					border-color: #888888;
					box-shadow: 0 0 0 1.5px #62e0e9;
					background-color: #ffffff;
					transition-duration: .2s;
				}
			}

			button{
				font-family: $ff-main;
				font-size: 18px;
				font-weight: 500;
				width: 100px;
				height: 52px;
				color: #ffffff;
				background-color: #62e0e9;
				border: none;
				border-radius: 5px;
				letter-spacing: 1px;
			}
		}
	}
}