section{
	&#content-4{
		position: relative;
		float: left;
		width: 100%;
	
		span{
			&#img-eventos{
				position: relative;
				float: left;
				width: 100%;
				height: 440px;

				@media (max-width: 991px) and (min-width: 768px) {
					height: 400px;
				}

				@media (max-width: 767px) and (min-width: 577) {
					height: 380px;
				}

				@media (max-width: 576px) {
					height: 330px;
				}
	
				&#img-eventos{
					background-image: url("../img/eventos/evento-77.jpg");
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
				}
	
				&:before{
					background-color: rgba(37, 37, 37, 0.55);
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					transition-duration: .3s
				}
			}
	
			&#contact-message{
					position: absolute;
					left: 10%;
					top: 145px;
					width: 80%;
					text-align: center;
					color: #ffffff;
					
					@media (max-width: 991px) and (min-width: 768px) {
						top: 120px;
					}
	
					@media (max-width: 767px) and (min-width: 577px) {
						top: 110px;
					}

					@media (max-width: 576px) {
						top: 75px;
					}
	
				h6{
					font-family: $ff-main;
					font-size: 50px;
					font-weight: 300;
					margin-bottom: 30px;
	
					@media (max-width: 991px) and (min-width: 768px) {
						font-size: 42px;
						font-weight: 400;
					}
	
					@media (max-width: 767px) and (min-width: 577px) {
						font-size: 40px;
						font-weight: 300;
					}

					@media (max-width: 576px) and (min-width: 431px) {
						font-size: 25px;
						font-weight: 400;
						margin-bottom: 20px;
					}

					@media (max-width: 430px) {
						font-size: 22px;
						font-weight: 400;
						margin-bottom: 20px;
					}
				}
	
				p{
					font-family: $ff-main;
					font-size: 22px;
					font-weight: 400;
					margin-bottom: 35px;
	
					@media (max-width: 767px) {
						font-size: 20px;
					}
					@media (max-width: 576px) {
						font-weight: 300;
					}
					@media (max-width: 430px) {
						font-size: 18px;
						font-weight: 300;
					}
				}
	
				a{
					font-family: $ff-main;
					font-size: 22px;
					font-weight: 300;
					border: 1.5px solid #ffffff;
					border-radius: 8px;
					padding: 7px 25px;
					color: #ffffff;
					transition-duration: .2s;
	
					&:hover{
						text-decoration: none;
						background-color: #ffffff;
						color: #5e5e5e;
						transition-duration: .2s;
					}
				}
			}
		}
	}
}