section{
	&#content-contact{
		float: left;
		width: 100%;
		margin: 100px 0;
		
		@media (max-width: 767px) {
			margin: 90px 0;
		}

		h6{
			font-family: $ff-main;
			font-size: 24px;
			font-weight: 300;
			width: 100%;
			text-align: center;
			margin-bottom: 30px;

			@media (max-width: 567px) {
				font-size: 22px;
			}
		}

		form{
			text-align: center;

			label{
				margin-right: 10px;
				margin-bottom: 0;

				@media (max-width: 465px) {
					margin-right: 0;
					margin-bottom: 15px;
				}
			}

			input{
				font-family: $ff-main;
				font-weight: 300;
				width: 320px;
				height: 52px;
				background-color: #f5f5f5;
				border: none;
				border-radius: 5px;
				padding: 8px 20px;
				transition-duration: .2s;

				@media (max-width: 465px) {
					width: 290px;
				}

				&:focus{
					outline: none;
					border-color: #888888;
					box-shadow: 0 0 0 1.5px #62e0e9;
					background-color: #ffffff;
					transition-duration: .2s;
				}
			}

			button{
				font-family: $ff-main;
				font-size: 18px;
				font-weight: 500;
				width: 100px;
				height: 52px;
				color: #ffffff;
				background-color: #62e0e9;
				border: none;
				border-radius: 5px;
				letter-spacing: 1px;
			}
		}
	}
}