section{
	&#content-2{
		position: relative;
		height: 450px;
		padding: 95px 0;
		background-color: #f9f9f9;

		@media (max-width: 1300px) and (min-width: 1100px) {
			height: 365px;
			padding: 55px 0;
		}

		@media (max-width: 1099px) and (min-width: 992px) {
			height: 305px;
			padding: 40px 0;
		}

		@media (max-width: 991px) and (min-width: 768px) {
			height: 350px;
			padding: 70px 0;
		}

		@media (max-width: 767px) {
			padding: 60px 0;
			height: auto;
		}
		

		#first-content-2{
			h4{
				font-family: $ff-hind;
				font-size: 36px;
				font-weight: 300;
				margin-bottom: 45px;

				@media (min-width: 1100px) {
					text-align: left;
				}

				@media (max-width: 1099px) and (min-width: 992px) {
					text-align: left;
					font-size: 28px;
					margin-bottom: 30px;
				}

				@media (max-width: 991px) {
					text-align: center;
				}

				@media (max-width: 768px) {
					font-size: 32px;
				}
			}

			p{
				text-align: left;
				font-family: $ff-main;
				font-size: 20px;
				font-weight: 300;
				line-height: 32px;
				color: #7e7e7e;

				@media (max-width: 1099px) {
					font-size: 18px;
				}

				@media (max-width: 991px) {
					text-align: center;
				}

				@media (max-width: 768px) {
					text-align: justify;
				}
				
			}
		}

		#second-content-2{
			position: absolute;
			width: auto;
			right: 0;
			top: 0;
			padding: 0;

			img{
				width: 742px;
				height: auto;

				@media (max-width: 1300px) and (min-width: 1100px) {
					width: 600px;
				}

				@media (max-width: 1099px) and (min-width: 992px) {
					width: 500px;
				}
			}
		}

		&.show{
			opacity: 0;
		}
	}
}