#footer{
	float: left;
	width: 100%;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f5f5f5;

	#footer-content{
		width: 100%;

		ul{
			font-family: $ff-main;
			float: left;
			width: 25%;
			list-style: none;
			margin: 0;

			@media (max-width: 991px) {
				width: 100%;
				margin-right: 100px;

				&:nth-child(2) {
					margin-top: 30px;
				}
			}

			h6{
				font-family: $ff-main;
				font-size: 24px;
				margin-bottom: 18px;
			}

			li{
				margin-bottom: 7px;

				a{
					color: initial;

					&:hover{
						text-decoration: none;
					}
				}
			}
		}

		iframe{
			margin-left: 170px;
			padding: 0 15px;

			@media (max-width: 1200px) and (min-width: 992px) {
				margin-left: 70px;
			}

			@media (max-width: 991px) {
				margin-left: 0;
				margin-top: 30px;
			}

			@media (max-width: 500px) {
				width: 95%;
			}
		}
	}
}