#header{
	position: absolute;
	width: 100%;
	z-index: 99;
	height: 85px;
	font-family: 'roboto';

	#header-content{
		width: 100%;
		height: 80px;

		#logo{
			float: left;
			height: 80px;
			margin-top: 6px;

			h1{
				color: #FFFFFF;
				margin-bottom: 0;

				a{
					float: left;
					line-height: 35px;
					text-decoration: none;
					color: #FFFFFF;
					
					img {
						float: left;
						display: inline-block;
						width: 72px;
						height: auto;
					}

					#name-logo {
						font-family: 'Hind-vadodara';
						font-size: 24px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: 0.5px;
						display: inline-block;
						width: 160px;
						line-height: 30px;
						margin-left: 10px;
						margin-top: 5px;
					}
				}
			}
		}

		#header-menu{
			float: left;
			height: 80px;

			ul{
				margin: 0;

				.menu-menu-container{
					float: left;
					height: 80px;

					ul{
						float: left;
						list-style: none;
						line-height: 85px;
		
						@media (max-width: 1200px) and (min-width: 992px){
							margin: 25px 0 25px 0;
						}
		
						@media (max-width: 991px) and (min-width: 768px){
							margin: 25px 0 25px 0;
						}
		
						li{
							font-family: 'Montserrat';
							font-size: 16px;
							font-weight: 400;
							float: left;
							margin: 0 10px;
		
							a{
								color: #FFFFFF;
								text-decoration: none;
		
								&:hover{
									color: #D5D5D5;
								}
							}
						}
					}
				}
			}
		}
	}
}

.home{
	#header{
		position: absolute;
		width: 100%;
		z-index: 99;
		height: 85px;
		font-family: 'roboto';
		box-shadow: none;

		#header-content{
			width: 100%;
			height: 80px;

			#logo{
				float: left;
				height: 80px;
				margin-top: 6px;
	
				h1{
					color: #ffffff;
					margin-bottom: 0;
	
					a{
						line-height: 80px;
						text-decoration: none;
						color: #ffffff;
					}

					#name-logo {
						font-family: 'Hind-vadodara';
						font-size: 24px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: 0.5px;
						display: inline-block;
						width: 160px;
						line-height: 30px;
						margin-left: 10px;
						margin-top: 5px;
					}
				}
			}
	
			#header-menu{
				float: left;
				height: 80px;

				ul{
					margin: 0;
	
					.menu-menu-container{
						float: left;
						height: 80px;
		
						ul{
							float: left;
							list-style: none;
							line-height: 85px;
			
							@media (max-width: 1200px) and (min-width: 992px){
								margin: 25px 0 25px 0;
							}
			
							@media (max-width: 991px) and (min-width: 768px){
								margin: 25px 0 25px 0;
							}
			
							li{
								font-size: 16px;
								font-weight: 400;
								float: left;
								margin: 0 10px;
			
								a{
									color: #ffffff;
									text-decoration: none;
			
									&:hover{
										color: #ffffff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}