#header{
	width: 100%;
	z-index: 99;
	height: 80px;
	box-shadow: 0px 2px 5px #cdcdcd;
	font-family: 'roboto';

	#header-content{
		width: 100%;
		height: 80px;

		#logo{
			float: left;
			height: 80px;
			margin-top: 10px;

			h1{
				font-size: 26px;
				font-weight: 400;
				color: #000000;
				letter-spacing: 0.5px;

				a{
					float: left;
					line-height: 35px;
					text-decoration: none;
					color: #000000;
					
					img {
						float: left;
						display: inline-block;
						width: 100px;
						height: auto;
					}

					#name-logo {
						display: inline-block;
						width: 160px;
						line-height: 35px;
						margin-left: 10px;
					}
				}
			}
		}

		#header-menu{
			float: left;
			height: 80px;

			ul{
				margin: 0;

				.menu-menu-container{
					float: left;
					height: 80px;

					ul{
						float: left;
						list-style: none;
						line-height: 80px;
						// margin: 25px 0 25px 0;
		
						@media (max-width: 1200px) and (min-width: 992px){
							margin: 25px 0 25px 0;
						}
		
						@media (max-width: 991px) and (min-width: 768px){
							margin: 25px 0 25px 0;
						}
		
						li{
							font-size: 17px;
							font-weight: 400;
							float: left;
							margin: 0 10px;
		
							a{
								color: #000000;
								text-decoration: none;
		
								&:hover{
									color: #000000;
								}
							}
						}
					}
				}
			}
		}
	}
}

.home{
	#header{
		position: absolute;
		width: 100%;
		z-index: 99;
		height: 80px;
		font-family: 'roboto';
		box-shadow: none;

		#header-content{
			width: 100%;
			height: 80px;

			#logo{
				float: left;
				height: 80px;
	
				h1{
					font-size: 26px;
					font-weight: 400;
					color: #ffffff;
					letter-spacing: 0.5px;
	
					a{
						line-height: 80px;
						text-decoration: none;
						color: #ffffff;
					}
				}
			}
	
			#header-menu{
				float: left;
				height: 80px;

				ul{
					margin: 0;
	
					.menu-menu-container{
						float: left;
						height: 80px;
		
						ul{
							float: left;
							list-style: none;
							line-height: 80px;
			
							@media (max-width: 1200px) and (min-width: 992px){
								margin: 25px 0 25px 0;
							}
			
							@media (max-width: 991px) and (min-width: 768px){
								margin: 25px 0 25px 0;
							}
			
							li{
								font-size: 17px;
								font-weight: 400;
								float: left;
								margin: 0 10px;
			
								a{
									color: #ffffff;
									text-decoration: none;
									text-shadow: 0px 0px 2px #000000;
			
									&:hover{
										color: #ffffff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}