#header{
	position: absolute;
	width: 100%;
	z-index: 99;
	height: 70px;
	/* box-shadow: 2px 0px 12px #ced4da; */
	font-family: 'roboto';

	#header-content{
		width: 100%;

		#logo{
			float: left;

			h1{
				font-size: 32px;
				font-weight: 400;
				color: #000000;
				letter-spacing: 0.5px;
				margin: 15px 0;
			}
		}

		#header-menu{
			float: left;

			ul{
				float: left;
				list-style: none;
				margin: 23px 0 23px 88px;

				@media (max-width: 1200px) and (min-width: 992px){
					margin: 23px 0 23px 70px;
				}

				@media (max-width: 991px) and (min-width: 768px){
					margin: 23px 0 23px 0px;
				}

				li{
					font-size: 16px;
					font-weight: 400;
					float: left;
					margin: 0 10px;

					a{
						color: #000000;
						text-decoration: none;

						&:hover{
							color: #000000;
						}
					}
				}
			}
		}
		
	}
}
