section {
    &#main-image {
        position: relative;
        width: 100%;
        height: 730px;
        background-image: url(../img/main-img/back-10.jpg);
        background-size: cover;
        background-position: bottom;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.45);
            top: 0;
            left: 0;
        }

        i {
            cursor: pointer;
            position: absolute;
            font-size: 40px;

            &#arrow-top {
                position: fixed;
                left: 96%;
                bottom: 3%;
                background-color: #62e0e9;
                color: #FFFFFF;
                padding: 2px 10px;
                border-radius: 5px;
                z-index: 99;
                opacity: 0;
            }

            &#arrow-down {
                left: 50%;
                bottom: 80px;
                color:  #FFFFFF;
                -webkit-animation: animation-cycle 1.0s infinite;
                animation: animation-cycle 1.0s infinite;
                animation-timing-function: ease-in-out;
                animation-direction: alternate;
            }

            @-webkit-keyframes animation-cycle {
                from {
                    bottom: 80px;
                }

                to {
                    bottom: 90px;
                }
            }

            @keyframes animation-cycle {
                from {
                    bottom: 80px;
                }
                
                to {
                    bottom: 90px;
                }
            }
        }
    }
}