nav {
    &#main-menu-responsive {
        position: fixed;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        padding: 45px 0;
        z-index: 999;
        transition: all .3s ease-out;

        &.open-menu-responsive {
            bottom: 0px;
        }

        h6 {
            font-family: "Montserrat";
            font-size: 30px;
            font-weight: 300;
            font-style: normal;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                margin-bottom: 10px;

                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }

        #menu-medias-responsive {

            i {
                font-size: 18px;
                color: #000000;
                position: absolute;
                width: 20px;
                margin: auto;
                text-align: center;
                left: 0;
                bottom: 30px;
                right: 0;
            }
        }

        
    }
}